/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Clockwork mode test profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 downsampled M. tuberculosis Illumina sample on Zenodo (doi 10.5281/zenodo.20671479).
    clockwork_base.config (params + publishDir) is loaded unconditionally in nextflow.config.
        nextflow run nf-core/tbanalyzer -profile test_clockwork,docker --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [ cpus: 4, memory: '15.GB', time: '6.h' ]
}
params {
    config_profile_name        = 'Clockwork test profile'
    config_profile_description = 'Minimal test of the clockwork mode (1 downsampled M. tuberculosis sample)'

    mode  = 'clockwork'
    input = "${projectDir}/assets/clockwork_samplesheet_test.csv"
}
