process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '3.h'
    ]
}


params {
    config_profile_name        = 'MTBseq Test profile'
    config_profile_description = 'Minimal test to check if MTBseq mode is working as intended'

    input             = 'https://zenodo.org/records/20665781/files/test_samplesheet.csv'
    mtbseq_cohort_tsv = 'https://zenodo.org/records/20665781/files/test_cohort.tsv'

    mode = "mtbseq"


}


