process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '3.h'
    ]
}


params {
    config_profile_name        = 'MTBseq Test profile'
    config_profile_description = 'Minimal test to check if MTBseq mode is working as intended'

    input  = "${projectDir}/data/test_data/test_3_samples.csv"

    mtbseq_cohort_tsv  = "${projectDir}/data/test_data/test_3_cohort.tsv"

    outdir = "mtbseq-test-profile-results"

    mode = "mtbseq"


}


